DynamicComponentsKit.xcodeproj/project.xcworkspace/xcshareddata
DynamicComponentsKit.xcodeproj/xcuserdata/Radek.xcuserdatad/xcdebugger
DynamicComponentsKit.xcodeproj/project.xcworkspace/xcuserdata/Radek.xcuserdatad/UserInterfaceState.xcuserstate